{% extends 'content.html' %}
{% block title %}
<title>
    Update book - KnOwner
</title>
{% endblock %}

{% block body %}
<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to your Library Management, {{ current_user.username }}!</h1>
        <p class="lead">Up to date!</p>
    </div>
</div> -->
<div class="container">
    <hr>
    <div class="card-header">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <a class="btn btn-link" href="{{ url_for('list.list.library', page=1) }}">Your library</a>
                <a class="btn btn-link" href="{{ url_for('list.list.list') }}">List table</a>
            </div>
            <div class="input-group">
                <a class="btn btn-primary" href="{{ url_for('create.add.add') }}">Add more</a>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card h-100">
                <img style="object-fit: cover" src="../{{ book.image.path[26:] }}" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div>
                    <form method="POST">
                        <header class="card-header">
                            {{ form.submit_button(class="float-right btn btn-outline-primary mt-1") }}
                            <h4 class="card-title mt-2">Update Book</h4>
                            <small class="form-text text-muted">
                                Leave blank the fields you don't want to update.
                            </small>
                        </header>
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.title.label }}
                                {{ form.title(class="form-control") }}
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                {{ form.author.label }}
                                {{ form.author(class="form-control") }}
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                {{ form.release_year.label }}
                                {{ form.release_year(class="form-control") }}
                            </div> <!-- form-group end.// -->
                        </div>
                        <div class="card-footer">
                            <small>
                                Use the <a href="{{ url_for('create.add.add') }}">Add new card</a> feature if you want to update the PDF file as well.
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}